title {
  text-align: center;
  color: darkblue;
  font-family: Arial, sans-serif;
  background-color: rgb(66, 207, 229);
  font-weight: bold;
}

body {
  background-color: rgb(217, 243, 243);
  font-family: monospace, sans-serif;
  font-size: 34px;

  margin: 30px;
}
h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 70px;
  background-color: rgb(144, 205, 148);
}

h2 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  background-color: rgb(117, 185, 181);
  font-weight: bold;
}
h3 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  background-color: rgb(135, 202, 212);
  font-weight: bold;
}
.first-word-uppercase-p::first-letter {
  line-height: 0.75;
  font-weight: 600;
  font-size: 5em;
  border: 5px solid;
  padding-bottom: 0.05em;
  margin-bottom: 0.05em;
  float: left;
}
p img {
  display: block;
  margin: 0 auto;
  width: 20%;
  float: inline-end;
  border-radius: 50px;
}
div.wrapper-main {
  width: 80%;
  margin: auto;
  padding: 20px;
  padding-bottom: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
